div,img {
	user-select: none;
}

#SSplayArea {
	display: flex;
	height: 75vh;
}
#SSscrollArea {
	flex: 1 1 50%;
    overflow: overlay;
	/*	border-radius: 50px;*/
	border: 5px groove white;
	box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}
#SSboard {
	position: relative;
	background-image: url('img/board.jpg');
	width: 2658px;
	height: 2599px;
	transform-origin: left top;
}
/*********/
/* Units */
/*********/
.SSunit {
	background-image: url('img/units.png');
	background-size: 1400%;
	transition: left 1s, top 1s, transform .25s;
}
#SSboard>.SSunit {
	position: absolute;
	width: 4%;
	height: 4%;
}
#SSboard>.SSunit:hover {
	/*	transform: scale(200%);*/
	transition: transform .5s;
	z-index: 10;
}
/********************/
/* Indigenous Units */
/********************/
.SSunit[data-faction='Indigenous'] {
	background-position-y: 100%;
}
.SSunit[data-faction='Indigenous'][data-type='Leader'] {
	background-position-x: CALC(0% / 13);
}
.SSunit[data-faction='Indigenous'][data-type='Caciques'] {
	background-position-x: CALC(200% / 13);
}
.SSunit[data-faction='Indigenous'][data-type='Naborias'] {
	background-position-x: CALC(400% / 13);
}
.SSunit[data-faction='Indigenous'][data-type='Calinagos'] {
	background-position-x: CALC(600% / 13);
}
.SSunit[data-faction='Indigenous'][data-type='Tamas'] {
	background-position-x: CALC(800% / 13);
}
.SSunit[data-faction='Indigenous'][data-type='Captains'] {
	background-position-x: CALC(1000% / 13);
}
.SSunit[data-faction='Indigenous'][data-type='Troops'] {
	background-position-x: CALC(1200% / 13);
}
/*****************/
/* Spanish Units */
/*****************/
.SSunit[data-faction='Spanish'] {
	background-position-y: 0%;
}
.SSunit[data-faction='Spanish'][data-type='Leader'] {
	background-position-x: CALC(0% / 13);
}
.SSunit[data-faction='Spanish'][data-type='Cavalry'] {
	background-position-x: CALC(200% / 13);
}
.SSunit[data-faction='Spanish'][data-type='Arquebusiers'] {
	background-position-x: CALC(400% / 13);
}
.SSunit[data-faction='Spanish'][data-type='Swordmen'] {
	background-position-x: CALC(600% / 13);
}
.SSunit[data-faction='Spanish'][data-type='Pawns'] {
	background-position-x: CALC(800% / 13);
}
.SSunit[data-faction='Spanish'][data-type='Scribes'] {
	background-position-x: CALC(1000% / 13);
}
/*****************/
/* Cards */
/*****************/
.SSfate {
	flex: 0 1 250px;
	margin: auto 5px;
	background-image: url('img/fate.png');
	background-size: 300%;
	background-repeat: no-repeat;
	aspect-ratio: 300/419;
	border: 5px white solid;
	border-radius: 20px;
}
.SSfate[fate='0'] {
	visibility: hidden;
}
.SSfate[fate='1'] {
	background-position-x: 0%;
}
.SSfate[fate='2'] {
	background-position-x: 50%;
}
.SSfate[fate='3'] {
	background-position-x: 100%;
}
